<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meet</title>
    <link rel="stylesheet" type="text/css" href="/css/inMeet.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-1">
          <img src="/img/header.jpg" alt="Host Image" class="host" />
          <!-- <div class="host">HOst</div> -->
          <div class="controls">
            <img src="/img/white-board.png" alt="whiteboard" />
            <img src="/img/chat.png" alt="chat" />
            <img src="/img/call.png" alt="disconnect" class="call-icon" />
            <img src="/img/mic.png" alt="mic" />
            <img src="/img/video.png" alt="Stop Video" />
          </div>
        </div>
        <div class="col-2">
          <div class="joined">
            <p>People Joined</p>
            <div>
              <img src="/img/people-1.png" alt="people-1" />
              <img src="/img/people-2.png" alt="people-2" />
              <img src="/img/people-3.png" alt="people-3" />
              <img src="/img/people-4.png" alt="people-4" />
              <img src="/img/people-5.png" alt="people-5" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
